.landing-container {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    background-color: rgba(245, 245, 245, 0.643);
    border-radius: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 20%;
    padding: 4%;
    font-size: 50px;
  }
  
  .title {
    color: black;
    font-size: 6rem;
    font-weight: 700;
  }
  
  .subtitle {
    color: black;
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2rem;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .home-image {
    width: 100%;
    height: 100%;
    border-radius: 1px;
    position: absolute;
    object-fit: cover;
  }
  
  .scroll-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    color: #555;
  }
  
  .scroll-icon {
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    transform: rotate(45deg);
    animation: scroll-down 2s infinite;
  }
  
  @keyframes scroll-down {
    0% {
      transform: rotate(45deg) translateY(0);
    }
    50% {
      transform: rotate(45deg) translateY(10px);
    }
    100% {
      transform: rotate(45deg) translateY(0);
    }
  }